<!DOCTYPE html>
<html lang="en-us" ng-app="geo-ass-one">
  <head>
    <meta charset="UTF-8">
    <title>Geo-assignment-one by duyloc91</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="stylesheets/map.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body ng-controller="TrailController">
    <div class="left-column">
      <div class="input-group search-area">
        <input type="text" class="form-control search-bar" ng-model="search"> 
        <span class="input-group-btn">
          <button class="btn btn-info" type="button">Go</button>
        </span>
      </div><!-- /input-group -->

      <div class="result-panels" >
        <div class="panel panel-success" ng-repeat="trail in trails | filter:search">
          <div class="panel-heading">{{trail.title}}</div>
          <div class="panel-body">
            <p>{{trail.details}}</p>
            <p>{{trail.duration}}</p>
          </div>
        </div>
      </div>
    </div>
    
    <leaflet class="map" lf-center="center" layers="layers"></leaflet>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="javascripts/angular-leaflet-directive.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
