.map {
	position: absolute;
	top: 0px;
	left: 25%;
	height: 100%;
	width: 100%;
}

.left-column{
	position: absolute;
	top: 0px;
	right: 75%;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.search-bar{
	float: right !important;
	width: 15% !important;
}


.search-area{
	right: 1.5%;
	top:10px;
}

.result-panels{
	right: 1%;
	left: 1%;
	margin-top:30px;
	float: right !important;
	width: 25% !important;
}

.badge-panel{
	float:right;
}

.panel-img{
	width:50%;
}

.title-details{
	margin-left:20px;
}

.details-img{
	width:200px;
}

.highlights{
	margin-top: 20px;
}